<div class="content container text-center">
    <ul>
        <li class="text-left"><a (click)="moveTo('Steam')">What is It?</a></li>
        <li class="text-left"><a (click)="moveTo('SteamApp')">How Does It Work?</a></li>
        <li class="text-left"><a (click)="moveTo('DrySteam')">What is "Dry" Steam Vapor?</a></li>
        <li class="text-left"><a (click)="moveTo('Uses')">What Can I Use It On?</a></li>
        <li class="text-left"><a (click)="moveTo('ChemicalUse')">Where Does the Chemical Go?</a></li>
        <li class="text-left"><a (click)="moveTo('WaterUse')">Where Does the Water Go?</a></li>
        <li class="text-left"><a (click)="moveTo('Soap')">Where Does the Soap Go?</a></li>
        <li class="text-left"><a (click)="moveTo('Pressure')">How Much Pressure Does It Produce?</a>
        </li>
        <li class="text-left"><a (click)="moveTo('ElbowGrease')">Why Don't I Just Scrub With Soap and a
                Sponge?</a>
        </li>
        <li class="text-left"><a (click)="moveTo('Rinse')">Where Does the Dirt Go?</a></li>
        <li class="text-left"><a (click)="moveTo('HomeAllergies')">I Have Terrible Dust Mite + Flea Allergies?
                How
                Can This
                Help
                Me?</a></li>
        <li class="text-left"><a (click)="moveTo('ChemicalAllergies')">I Have Chemical Sensitivities. How Can
                This
                Help
                Me?</a></li>
        <li class="text-left"><a (click)="moveTo('PetStainsOdors')">How Can Steam Cleaners Help With Pet Stains
                +
                Odors?</a></li>
        <li class="text-left"><a (click)="moveTo('SteamCleanInfo')">Why I Haven't I Heard More About Steam
                Cleaning?</a>
        </li>
        <li class="text-left"><a (click)="moveTo('CommercialUse')">Are These Systems Being Used
                Commercially?</a>
        </li>
    </ul>
    <h2 class="text-left">
        <span><a id="Steam" name="Steam"></a>What Is It?</span>
    </h2>
    <p style="text-align: left;">A vapor system may look like a vacuum - it is not. It is not the conventional "steam"
        cleaner nor is it a pressure washer. It is a new appliance that uses only a little water and a little
        electricity to sanitize, clean, and deodorize virtually any surface - without using chemicals.&nbsp;</p>
    <h2 style="text-align: left;"><a id="SteamApp" name="SteamApp"></a>How Does It Work?</h2>
    <p style="text-align: left;">Using less than a gallon of tap water, this multi-purpose appliance creates a low
        moisture vapor that carries heat to the surface you wish to treat. The heat combined with light agitation does
        the work for you.</p>
    <p style="text-align: left;">This appliance comes with a variety of accessories creating a system that can be used
        on an unlimited number of applications. The system can be used for carpets as well as oven cleaning. The process
        eliminates chemical residues while sanitizing the surface being treated.</p>
    <p style="text-align: left;">Because so little water is consumed, approximately 1.5 quarts per hour, it's virtually
        "mess free". The vapor system is quiet and portable, allowing for use anytime and anywhere.</p>
    <h2 style="text-align: left;"><a id="DrySteam" name="DrySteam"></a>What is "Dry" Steam Vapor?</h2>
    <p style="text-align: left;">An oxymoron? Perhaps. This describes a system that produces a high temperature, low
        moisture vapor. The vapor contains only 5% to 6% water and is much less dense than the air we breathe.</p>
    <p style="text-align: left;">Over the past few years, you have been exposed to products being promoted as "steam
        cleaners" that in fact use no steam at all, maybe warm water on a good day. These so-called 'steam machines'
        spray on large amounts of water using quantities described in 'gallons per minute'.</p>
    <p style="text-align: left;">You may ask, "Where's the steam?" The vapor system, by contrast, is equipped to safely
        produce thousands of gallons of live dry steam using only about 1.5 quarts of water per hour. This significant
        difference relates directly to the versatility and capabilities of the vapor system. It is unlike anything you
        have used before.</p>
    <p style="text-align: left;">It is mess free with temperatures hot enough to kill bacteria and germs, emulsify
        grease and oil as well as other surface contaminates. The system is also quiet and portable so it can be used
        anywhere at anytime.</p>
    <h2 style="text-align: left;"><a id="Uses" name="Uses"></a>What Can I Use It On?</h2>
    <p style="text-align: left;">The system is practical for any surface with the exception of those surfaces that are
        extremely heat sensitive. Surfaces such as silks, some very thin plastics, and some types of velour upholstery
        must be treated with great care.</p>
    <p style="text-align: left;">The system has additional uses besides sanitation. Defrosting freezers, thawing frozen
        pipes, dusting and misting live plants,&nbsp;and polishing jewelry are but a few of the non-cleaning
        applications.</p>
    <p style="text-align: left;">The use of the system, in general, contributes directly to better indoor air quality by
        reducing chemical residuals and removing airborne particles.</p>
    <h2 style="text-align: left;"><a id="ChemicalUse" name="ChemicalUse"></a>Where Does the Chemical Go?</h2>
    <p style="text-align: left;">The appliance only uses clean, clear, potable water. No chemical is used in this
        system.</p>
    <h2 style="text-align: left;"><a id="WaterUse" name="WaterUse"></a>Where Does the Water Go?</h2>
    <p style="text-align: left;">The water is put into a special tank or boiler that super heats the water and changes
        it into a hot "dry" mist or vapor. Therefore the name - <em>vapor system</em>. The unique benefit of this system
        is that it produces a low moisture, high-temperature vapor that carries only about 6 percent water.</p>
    <p style="text-align: left;">We like to call this a "Dry" Steam Vapor because so little water is left behind and so
        little is used. This patented system gives us the proven power of heat to safely sanitize and clean while
        reducing chemical use. Carpets are dry within minutes. Floors are also dry within a few minutes. This reduces
        the time and effort required for many tasks.</p>
    <h2 style="text-align: left;"><a id="Soap" name="Soap"></a>Where Does the Soap Go?</h2>
    <p style="text-align: left;">The system uses only potable water and heat to sanitize and clean. This reduces the
        amounts and residues of "chemical" cleaning. This lowers your exposure to toxins and helps prevent further
        degradation of the environment at the same time.</p>
    <p style="text-align: left;">It also saves us from pouring expensive chemicals down the drain. Flushing waste down
        the drain ultimately contributes to the contamination of our limited fresh water resources and is costing us
        more in the form of more expensive sewer treatment as well.</p>
    <h2 style="text-align: left;"><a id="Pressure" name="Pressure"></a>How Much Pressure Does It Produce?</h2>
    <p style="text-align: left;">The appliance produces only low pressures, usually in the range of 50 to 60 PSI. The
        low pressure creates a very safe, and easy-to-use system. Low pressures are also essential for getting the job
        done without making a huge mess.</p>
    <p style="text-align: left;">The work is done by the heat concentrated at the work surface. The heat dissipates
        quickly once the vapor expands into the atmosphere. This system is designed to be used through "surface contact"
        with the areas of concern.</p>
    <h2 style="text-align: left;"><a id="ElbowGrease" name="ElbowGrease"></a>Why Don't I Just Scrub with Soap and a
        Sponge?</h2>
    <p style="text-align: left;">Our existing cleaning regimen consists of applying a chemical or abrasive cleaner, then
        wiping or scrubbing the surface until the contaminant appears to be removed.</p>
    <p style="text-align: left;">This method is superficial at best, requires much physical effort, often degrades the
        surface, exposes our skin and lungs to harsh or toxic fumes, and leaves behind chemical residuals which dull and
        attract dirt to the finished surface. The vapor system removes surface contaminants without degrading the
        surface.</p>
    <p style="text-align: left;">The heat combined with very fine water particles penetrates even the pores - whatever
        the surface. This proven process thoroughly removes contaminants plus leaves the surface free of residuals.
        Visually superior results are achieved with less effort and no exposure to potentially discomforting or harmful
        chemical effects.</p>
    <p style="text-align: left;">The vapor system also allows you to sanitize and deodorize areas that are impossible to
        treat mechanically or chemically. Why not let the heat do the work? It's easier and does a better job in less
        time.</p>
    <h2 style="text-align: left;"><a id="Rinse" name="Rinse"></a>Where Does the Dirt Go?</h2>
    <p style="text-align: left;">Depending on the application, the dirt loosened by the vapor system is simultaneously
        absorbed in a terry cloth bonnet, or rinsed or wiped away using an absorbent cloth.</p>
    <h2 style="text-align: left;"><a id="HomeAllergies" name="HomeAllergies"></a>I Have Terrible Dust Mite and Flea
        Allergies. How Can This System Help Me?</h2>
    <p style="text-align: left;">The vapor system, unlike other cleaning or pest control methods, uses heat to do the
        work sans chemicals and poisons. Let's consider the dust mite, which lives in our clothes, mattresses, carpets,
        and upholstery. The recommended treatment for dust mites is to launder the concerned item in water at a
        temperature of at least 130 degrees F&nbsp;or treat the surface with a tannic acid solution.</p>
    <p style="text-align: left;">This may be difficult to do with carpets, couches, and mattresses, or your best suit
        coat which probably is the most highly contaminated. The vapor system comes to the rescue in this case because
        it provides you with a method of penetrating all of these surfaces thoroughly with temperatures in excess of 180
        degrees F.</p>
    <p style="text-align: left;">The heat kills the mites without over wetting the surfaces. Minimal wetting is
        important because mites favor a humid environment. Using the vapor system's fine hot mist prevents this from
        occurring. The articles treated are completely dry in a matter of minutes - not hours.</p>
    <p style="text-align: left;">After treating a surface it is recommended that you vacuum it thoroughly with a HEPA
        equipped vacuum to remove any particulate matter. Fleas, flea eggs, and flea larvae are also killed by short
        term exposure to high-temperature heat carried by very fine vapor reaching into the pores and pockets of fabric
        and carpets. No poisons here to affect children, pets, or indoor air quality.</p>
    <h2 style="text-align: left;"><a id="ChemicalAllergies" name="ChemicalAllergies"></a>I Have Chemical Sensitivities.
        How Can This Help Me?</h2>
    <p style="text-align: left;">Because this system uses only water, you are not introducing anything into your
        environment that has new chemicals or&nbsp;odors which may affect your well-being.</p>
    <p style="text-align: left;">Using the system will actually remove chemical residuals left behind from previous
        cleaning procedures as well as remove odors, such as perfumes, from garments and other fabrics.</p>
    <p style="text-align: left;">In addition, using the system provides you with a means to sanitize many critical
        surfaces which are important to your health without using odiferous toxic germicides. However, if you suffer
        from chronic and severe chemical sensitivity, you should have someone else actually do the work, particularly
        during the initial cleanup.</p>
    <p style="text-align: left;">Because the system even reaches into the pores of fabric and hard surfaces, it will
        drive out contaminants and chemical residue from those surfaces. This may have an adverse effect on you until
        those contaminants are completely removed.</p>
    <h2 style="text-align: left;"><a id="PetStainsOdors" name="PetStainsOdors"></a>How Can Steam Cleaners Help with Pet
        Stains and Odors?</h2>
    <p style="text-align: left;">For pet-parents, living with pets can mean more messes and frequent cleaning. Steam
        mops are powerful and efficient at removing muddy paw tracks across your kitchen floor.</p>
    <p style="text-align: left;">Using just the steam from regular tap water, you can effectively clean your floors
        without the use of harsh chemicals, which can be harmful to your family's health and that of your pet. What
        you're left with are clean, sanitized floors. Steam mops are also effective at cleaning up sticky messes, as
        well.</p>
    <h2 style="text-align: left;"><a id="SteamCleanInfo" name="SteamCleanInfo"></a>Why Haven't I Heard More About Steam
        Cleaning?</h2>
    <p style="text-align: left;">If you reside in North America, the answer is very straight forward. This appliance,
        while having been available in Europe for several years, is just now being introduced into the North American
        market.</p>
    <p style="text-align: left;">Because our electrical power supply is different from the European electrical system,
        the products were re-engineered for use here. Safety-minded suppliers have also taken it upon themselves to be
        sure that safety approvals such as Underwriters Laboratory or ETL listings were in place before introducing them
        to this market.</p>
    <h2 style="text-align: left;"><a id="CommercialUse" name="CommercialUse"></a>Are Steam Cleaners Being Used
        Commercially?</h2>
    <p style="text-align: left;">Yes, they are. Many of the systems are being used in hospitals, retirement care
        facilities, the food service industry, hospitality industry, and government institutions such as schools and
        universities.</p>
    <p style="text-align: left;">The use of this system improves indoor air quality, reduces the physical effort
        involved with cleaning, and provides a more thorough approach to cleaning. Because the use of chemicals is
        reduced and because water does not involve the regulatory requirements that many cleaning chemicals require, the
        system requires less management time and reduces paperwork.&nbsp;</p>
</div>