<div class="row padded-row">
    <div class="col-md-6">
        <div class="col-md-12 padded-col shadowed">
            <h4>STEAM IS NATURAL</h4>
            <p class="text-justify article-about">
                It’s not like those potentially harmful cleaning agents. Steam cleaning has advantages that you
                simply do not get using conventional car wash solutions. It offers the unique ability to simultaneously
                clean and
                sanitize your vehicle. It certainly helps killing <b class="dark-secondary-bold">Bacteria, Germs,
                    Viruses, Mold
                    Bugs, and other
                    Micro-organisms</b>.
                Steam
                cleaning has most notably become one of the best and popular ways to clean your car in an Eco-friendly
                manner. It’s
                sensible to steam clean both the interior and exterior of your car. Doing so will give your car a new
                appearance,
                without the use of harmful chemicals which can prove dangerous for you and especially your kids. Steam
                cleaning
                utilizes LESS WATER and can easily clean many different components of your car. Thus, with steam
                cleaning
                you don’t
                even have to worry about water pooling in unwanted areas of your car, such as the electronic components
                including
                the digital tachometer, GPS system, etc. There are various advantages of using steam in the interior and
                exterior of
                your car.
            </p>
            <h4>EXTERIOR BENEFITS</h4>
            <h6> Keeps The Car Paint Fresh:-</h6>
            <p class="text-justify article-about">
                Hard brushes and abrasive materials are not made use of in
                steam cleaning, which helps in keeping the car paint fresh and free from scratches. Chemicals and
                brushes
                are used
                in the normal cleaning process, which may damage your car’s paint and could eventually dull the
                finishing
                and
                appearance of your car. Steam cleaning requires no chemicals or brushes, so the car surface remains
                untouched, which
                means there are no chances of any scratches occurring, and at the same time your car is left shining
                bright
                and new.
            </p>
        </div>
        <div class="col-md-12 margined pricing-col">
            BOOK US ON : 9354446516 - 8700195040
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-12 padded-col shadowed">
            <h6>No Toxic Residue:- </h6>
            <p class="text-justify article-about">
                The chief advantage of steam cleaning your car is that there are no harmful and harsh chemicals
                used. Harsh and harmful chemicals are not only hard on the dirt and grime but they are also hard on the
                environment
                too. Steam cleaning on the other hand is not harmful at all as it offers your car a great opportunity to
                stay close
                to nature and <b class="light-bold">‘Go Green’</b>.
            </p>
            <h6>Streaky Windows:- </h6>
            <p class="text-justify article-about">Sometimes when the harsh, harmful chemicals are not rubbed off
                properly, they leave the car windows streaky. In steam cleaning, windows are naturally cleaned with
                steam,
                so there
                is no question of windows being streaky. Steam cleaning makes the window clean, smooth and makes it
                appear
                as fresh
                as new. Moreover, steam cleaning removes wax, tar, and other compounds from chrome, moldings and
                bumpers.
            </p>
            <h6>Interior Benefits:- </h6>
            <p class="text-justify article-about">
                All types of odors are eliminated with steam cleaning, Pet stains, Smoking, Mold and Mildew everything
                can be removed Fabrics are quickly deep cleaned and freshened up easily Surfaces are almost dry as soon
                as
                the steam
                cleaning is done Areas that are hard to reach like dashboards, vents, ashtrays, armrests and cup holders
                are
                easily
                cleaned in minutes.
            </p>
            <p class="text-justify article-about">
                Choosing steam cleaning for your car is indeed an excellent choice. High temperatures of steam
                cleaning actually kills and denatures harmful bacteria and microorganisms. Steam is air borne, hence the
                heat
                naturally kills any bacteria or viruses in the air. Steam cleaning leaves your vehicle smelling clean
                and
                fresh
                which is completely safe and healthy for your family. Steam car wash does not use detergents and thus,
                does
                not
                waste water. If you want your car to look fresh, smell natural and appear new, get in touch with our
                professionals.
            </p>
        </div>
    </div>
</div>