<!-- Footer -->
<section id="footer">
  <div class="container">
    <div class="row text-center text-xs-center text-sm-left text-md-left">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="embed-responsive embed-responsive-16by9 mb-4 intro-vid">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xfPFvhIifSg" allowfullscreen
            height="360px"></iframe>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="left-side">
          <h5>Quick links</h5>
          <div class="footer-links">
            <ul class="list-unstyled quick-links">
              <li>
                <a routerLink="/"><i class="fa fa-angle-double-right"></i>Home</a>
              </li>
              <li>
                <a routerLink="/about"><i class="fa fa-angle-double-right"></i>Know More</a>
              </li>
              <li>
                <a routerLink="/faq"><i class="fa fa-angle-double-right"></i>Got Doubts?</a>
              </li>
              <li>
                <a routerLink="/gallery"><i class="fa fa-angle-double-right"></i>See us in action</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="right-side">
          <h5>Address</h5>
          <div class="footer-links">
            <ul class="list-unstyled quick-links">
              <li>
                <span><i class="fa fa-map-marker"></i>RZ - 167A,</span>
              </li>
              <li>
                <span><i>&nbsp;</i>Indira Park,</span>
              </li>
              <li>
                <span><i>&nbsp;</i>Uttam Nagar,</span>
              </li>
              <li>
                <span><i>&nbsp;</i>New Delhi - 110059</span>
              </li>
              <li>
                <span><i class="fa fa-phone"></i>+919811113141</span>
              </li>
              <li>
                <span><i class="fa fa-phone"></i>+91 8700195040</span>
              </li>
              <li style="font-weight: 1000; padding-left: 20px; visibility: hidden;">
                <span><i>&nbsp;</i>New Delhi - 110059</span>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
        <ul class="list-unstyled list-inline social text-center">
          <li class="list-inline-item">
            <a href="https://www.facebook.com/101993411571763"><i class="fa fa-facebook"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.youtube.com/channel/UCSHbbA_3d_mgIaO57qQw9HQ"><i class="fa fa-youtube-play"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="https://instagram.com/sngsteamcarwash"><i class="fa fa-instagram"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="https://api.whatsapp.com/send?phone=+919036283044&text=I%20am%20interersted"><i
                class="fa fa-whatsapp"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="mailto:bunnikrishnan95@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a>
          </li>
        </ul>
      </div>
      <hr />
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
        <p class="h6">
          © All right Reserved.SNG Steam Cleaners
        </p>
      </div>
      <hr />
    </div>
  </div>
</section>