<div class="container-fluid">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h5 class="text-center">Residential Cleaning</h5>
        <div class="row card-row">
            <div class="card">
                <div class="card-header">
                    1 BHK
                </div>
                <img src="../../../assets/flats/1BHK.jpg" class="card-img-top" alt="1BHK">
                <div class="card-body row">
                    <div class="col-lg-8 col-md-8 col-sm-8 info">
                        Complete Cleaning and Sanitizing
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 price">
                        ₹ 999
                    </div>
                    <!-- <div class="col-lg-12 col-md-12 col-sm-12">
                        <hr />
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 info">
                        Exterior Cleaning and Sanitizing
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 price">
                        ₹ 799
                    </div> -->
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    2 BHK
                </div>
                <img src="../../../assets/flats/2BHK.jpg" class="card-img-top" alt="2BHK">
                <div class="card-body row">
                    <div class="col-lg-8 col-md-8 col-sm-8 info">
                        Complete Cleaning and Sanitizing
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 price">
                        ₹ 1199
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    3 BHK
                </div>
                <img src="../../../assets/flats/3BHK.jpg" class="card-img-top" alt="3BHK">
                <div class="card-body row">
                    <div class="col-lg-8 col-md-8 col-sm-8 info">
                        Complete Cleaning and Sanitizing
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 price">
                        ₹ 1499
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    4 BHK
                </div>
                <img src="../../../assets/flats/4BHK.jpg" class="card-img-top" alt="4BHK">
                <div class="card-body row">
                    <div class="col-lg-8 col-md-8 col-sm-8 info">
                        Complete Cleaning and Sanitizing
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 price">
                        ₹ 1899
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    5 BHK
                </div>
                <img src="../../../assets/flats/5BHK.jpg" class="card-img-top" alt="5BHK">
                <div class="card-body row">
                    <div class="col-lg-8 col-md-8 col-sm-8 info">
                        Complete Cleaning and Sanitizing
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 price">
                        ₹ 2199
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="card wide-card">
                <div class="card-header">
                    Villa (2000-3000 Sq. ft)
                </div>
                <img src="../../../assets/flats/villa1.jpg" class="card-img-top" alt="...">
                <div class="card-body row">
                    <div class="col-lg-8 col-md-8 col-sm-8 info wide-info">
                        Complete Cleaning and Sanitizing
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 price wide-price">
                        ₹ 2199
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="card wide-card">
                <div class="card-header">
                    Villa (3000-4000 Sq. ft)
                </div>
                <img src="../../../assets/flats/villa2.jpg" class="card-img-top" alt="...">
                <div class="card-body row">
                    <div class="col-lg-8 col-md-8 col-sm-8 info wide-info">
                        Complete Cleaning and Sanitizing
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 price wide-price">
                        ₹ 2599
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>