<div class="static-bar">
  <p>
    Contact Us :&nbsp;<span><i class="static fa fa-phone"></i>+919811113141</span>&nbsp;
    <a href="https://www.facebook.com/101993411571763"><i class="fa fa-facebook"></i></a>&nbsp;
    <a href="https://www.youtube.com/channel/UCSHbbA_3d_mgIaO57qQw9HQ"><i class="fa fa-youtube-play"></i></a>&nbsp;
    <a href="https://instagram.com/sngsteamcarwash"><i class="fa fa-instagram"></i></a>&nbsp;
    <a href="https://api.whatsapp.com/send?phone=+919036283044&text=I%20am%20interersted"><i class="fa fa-whatsapp"></i>
    </a>&nbsp;
    <a href="mailto:bunnikrishnan95@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a>&nbsp;
  </p>
</div>
<nav id="navbar" class="navbar navbar-expand-lg navbar-light theme fixed-top">
  <a class="navbar-brand theme" routerLink="/">
    <img src="../../../assets/logo/logo.png" width="60px" alt="SNG Steam Cleaners">
  </a>
  <button class="navbar-toggler theme" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon theme"></span>
  </button>
  <div class="collapse navbar-collapse theme" id="navbarText">
    <ul class="nav navbar-nav ml-auto theme nav-padding">
      <li class="nav-item active theme">
        <a class="nav-link theme" routerLink="/">
          <i class="icon fa fa-home">&nbsp;</i>Home<span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item theme">
        <a class="nav-link theme" routerLink="/about">
          <i class="icon fa fa-star">&nbsp;</i>Features
        </a>
      </li>
      <li class="nav-item theme">
        <a class="nav-link theme" (click)="showPrices('all')">
          <i class="icon fa fa-inr">&nbsp;</i>Pricing
        </a>
      </li>
      <li class="nav-item theme">
        <a class="nav-link theme" routerLink="/faq">
          <i class="icon fa fa-question-circle-o">&nbsp;</i>FAQ
        </a>
      </li>
      <li class="nav-item theme">
        <a class="nav-link theme" routerLink="/gallery">
          <i class="icon fa fa-picture-o">&nbsp;</i>Gallery
        </a>
      </li>
    </ul>
  </div>
</nav>