.gallery-row {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 70%;
  margin: 0 0 5% 0 !important;
}
.carousel,
.slide,
.carousel-inner,
.carousel-item {
  height: 100%;
}
.carousel {
  width: 80%;
  margin: auto;
}
.carousel-control-prev {
  left: -10vw;
}
.carousel-control-next {
  right: -10vw;
}
.slide {
  margin: auto;
  width: 80%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.slide-1 {
  background-image: url("../../../assets/gallery/slide1.jpg");
}
.slide-2 {
  background-image: url("../../../assets/gallery/slide2.jpg");
}
.slide-3 {
  background-image: url("../../../assets/gallery/slide3.jpg");
}
.slide-4 {
  background-image: url("../../../assets/gallery/slide4.jpg");
}
.slide-5 {
  background-image: url("../../../assets/gallery/slide5.jpg");
}
.slide-6 {
  background-image: url("../../../assets/gallery/slide6.jpg");
}
.slide-7 {
  background-image: url("../../../assets/gallery/slide7.jpg");
}
.slide-8 {
  background-image: url("../../../assets/gallery/slide8.jpg");
}
blockquote {
  padding: 1% 5%;
}
@media only screen and (max-width: 374px) {
  .gallery-row {
    height: 30%;
  }
}
@media only screen and (max-width: 500px) {
  .gallery-row {
    height: 40%;
  }
}
@media only screen and (max-width: 768px) {
  .carousel {
    margin: 0 !important;
    width: 100% !important;
  }
  .slide {
    margin: 0 !important;
    width: 100% !important;
  }
  .carousel-control-prev {
    left: 0;
  }
  .carousel-control-next {
    right: 0;
  }
  .gallery-row {
    height: 50%;
  }
}
@media only screen and (min-width: 769px) and (max-height: 640px) {
  .gallery-row {
    height: 90%;
  }
  .slide {
    width: 70% !important;
    height: 85% !important;
  }
  .carousel-indicators {
    bottom: 65px !important;
  }
}
@media only screen and (min-width: 769px) and (max-height: 899px) {
  .slide {
    height: 85% !important;
  }
}
@media only screen and (min-width: 769px) and (min-height: 960px) {
  .slide {
    height: 87% !important;
  }
}
@media only screen and (min-width: 1920px) and (min-height: 960px) {
  .slide {
    height: 89% !important;
  }
}
@media only screen and (min-width: 1920px) and (min-height: 1440px) {
  .slide {
    height: 92% !important;
  }
}
