<div class="row gallery-row">
    <div id="galleryCarousel" class="carousel" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#galleryCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#galleryCarousel" data-slide-to="1"></li>
            <li data-target="#galleryCarousel" data-slide-to="2"></li>
            <li data-target="#galleryCarousel" data-slide-to="3"></li>
            <li data-target="#galleryCarousel" data-slide-to="4"></li>
            <li data-target="#galleryCarousel" data-slide-to="5"></li>
            <li data-target="#galleryCarousel" data-slide-to="6"></li>
            <li data-target="#galleryCarousel" data-slide-to="7"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="slide slide-1"></div>
            </div>
            <div class="carousel-item">
                <div class="slide slide-2"></div>
            </div>
            <div class="carousel-item">
                <div class="slide slide-3"></div>
            </div>
            <div class="carousel-item">
                <div class="slide slide-4"></div>
            </div>
            <div class="carousel-item">
                <div class="slide slide-5"></div>
            </div>
            <div class="carousel-item">
                <div class="slide slide-6"></div>
            </div>
            <div class="carousel-item">
                <div class="slide slide-7"></div>
            </div>
            <div class="carousel-item">
                <div class="slide slide-8"></div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#galleryCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#galleryCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="container text-center">
    <h3>How was it?</h3>
</div>
<div class="row user-opinions">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <blockquote class="blockquote text-right">
            <p class="mb-0 text-justify">
                "I wanted to try the steam cleaning service to test it. My locality had issues
                with water. Also the availability of car wash centers nearby was hard. This experience turned out to be
                best."</p>
            <footer class="blockquote-footer"><cite title="Source Title">Rohit Agarwal</cite></footer>
        </blockquote>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <blockquote class="blockquote text-right">
            <p class="mb-0 text-justify">
                "I rent my cars online, so it is best that I need it to be clean and hygenic before handing out to the
                next customer. The steam cleaning is the best way to make sure that me and my customers are safe from
                pandemics"
            </p>
            <footer class="blockquote-footer"><cite title="Source Title">Ashish Rawat</cite></footer>
        </blockquote>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <blockquote class="blockquote text-right">
            <p class="mb-0 text-justify">
                "As I was working in various shifts throughout the month, it was not easy for me to clean my flat. So I
                tried for alternatives. Your cleaning impressed me, also no chemicals, Kudos!"
            </p>
            <footer class="blockquote-footer"><cite title="Source Title">Rishab Mishra</cite></footer>
        </blockquote>
    </div>
</div>
<div class="container-fluid">
    <div class="row text-center">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 feeds">
            <div class="fb-post"
                data-href="https://www.facebook.com/permalink.php?story_fbid=104483101322794&amp;id=101993411571763"
                data-show-text="true" data-width="">
                <blockquote
                    cite="https://developers.facebook.com/permalink.php?story_fbid=104483101322794&amp;id=101993411571763"
                    class="fb-xfbml-parse-ignore">
                    <p>Steam car wash at your door step!!</p>Posted by <a
                        href="https://www.facebook.com/SNG-Steam-Cleaners-101993411571763/">S.N.G Steam Cleaners</a>
                    on&nbsp;<a
                        href="https://developers.facebook.com/permalink.php?story_fbid=104483101322794&amp;id=101993411571763">Wednesday,
                        24 June 2020</a>
                </blockquote>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 feeds">
            <div class="fb-post"
                data-href="https://www.facebook.com/permalink.php?story_fbid=102025351568569&amp;id=101993411571763"
                data-show-text="true" data-width="">
                <blockquote
                    cite="https://developers.facebook.com/permalink.php?story_fbid=102025351568569&amp;id=101993411571763"
                    class="fb-xfbml-parse-ignore">Posted by <a
                        href="https://www.facebook.com/SNG-Steam-Cleaners-101993411571763/">S.N.G Steam Cleaners</a>
                    on&nbsp;<a
                        href="https://developers.facebook.com/permalink.php?story_fbid=102025351568569&amp;id=101993411571763">Sunday,
                        21 June 2020</a></blockquote>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 feeds">
            <div class="fb-video" data-href="https://www.facebook.com/101993411571763/videos/257119162402120/"
                data-show-text="false" data-width="">
                <blockquote cite="https://developers.facebook.com/101993411571763/videos/257119162402120/"
                    class="fb-xfbml-parse-ignore"><a
                        href="https://developers.facebook.com/101993411571763/videos/257119162402120/">S.N.G Steam
                        Cleaners|| Car Was &#064;1000*||Dehi.</a>
                    <p>Introducing SNG Steam Cleaners. We wash your car with the process of using steam vapor to clean a
                        car&#039;s exterior and interior. It is completely safe on car surfaces and removes all the
                        hardest dirt from the car and make it completely clean and safe for your journey. Usually a car
                        washing takes 180-250 litres of water. But our steam wash technology uses only 4 litres of
                        water. It is totally eco-friendly. For Doorstep service, Anytime, Anywhere! Call us at
                        9036283044/9811113141</p>Posted by <a
                        href="https://www.facebook.com/SNG-Steam-Cleaners-101993411571763/">S.N.G Steam Cleaners</a> on
                    Sunday, 21 June 2020
                </blockquote>
            </div>
            <div class="container-fluid">
                <p class="text-justify pt-10">
                    Introducing SNG Steam Cleaners. We wash your car using steam vapor, both exterior and interior. It
                    is completely safe on car surfaces and removes all the dirt
                    from the car and make it completely clean and safe for your journey.For Doorstep service, Anytime,
                    Anywhere! Call us at
                    9036283044 or 9811113141.
                </p>
            </div>
        </div>

    </div>
</div>